/*Products Page CSS*/
.products-grid .games-desc {
    background: linear-gradient(to bottom, #3366cc, #9966cc); /* Degradado entre azul y morado */
    padding: 10px;
    border-radius: 0 0 5px 5px; /* Estilo de borde inferior redondeado */
    text-align: center;
}

.products-grid .games-desc h3 {
    margin-bottom: 5px;
    color: #fff;
    font-size: 22px;
    text-transform: capitalize;
    font-weight: 600;
}

.products-grid .games-desc h3 a:hover {
    color: #5b10b1;
}

/* Resto del código que proporcionaste anteriormente */
.products-grid .games-thumb {
    background: #080811 none repeat scroll 0 0;
    border-radius: 5px;
}

.products-grid .games-single-item {
    margin-bottom: 30px;
}

.products-grid .games-thumb-image:before {
    display: none;
}

.products-grid .games-single-item:after {
    display: none;
}

.games-thumb-image {
    text-align: center;
}

.games-thumb-image img {
    width: 100%;
}